/**
  =================================
    fonts
    ==================================
 */
/**
  =================================
    COLORS
    ==================================
 */
/**
  =================================
    SOCIAL
    ==================================
 */
/**
  =================================
    RESPONSIVE
    ==================================
 */
.btn-secondary {
  background-color: #16488d;
  color: #270ddd;
  font-weight: bold;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .08rem;
}
.btn-hoc {
  background: #fff;
  color: #16488d;
  font-weight: bold;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .08rem;
  border: .1rem solid #bfbde4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-hoc:hover {
  background: #16488d;
  color: white;
}
/*.c5-logo{*/
/*width: 1000px;*/
/*}*/
/*@media (min-width: 1200px){*/
/*.container {*/
/*width: 1290px;*/
/*}*/
/*}*/
header.c5-header.c5-header-layout-2.c5-header-alt {
  padding: 2rem 0;
  background-size: 100% !important;
  background: url('../images/header-bg.jpg') no-repeat center center;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-top {
  padding: 0;
  text-align: right;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-top > * {
  display: inline-block;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-top .code125-social-links {
  margin-bottom: 0;
  margin-left: 25px;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-top .title {
  font-size: 1.7rem;
  color: #350e73;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: .5rem;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-top .subtitle {
  color: #000000;
  opacity: .7;
  font-size: 15px;
  margin-right: 10px;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom {
  text-align: right;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom a.patient-area {
  margin-top: 7px;
  display: inline-block;
  margin-right: 2em;
  padding: 5px 10px;
  background: #fff;
  color: #16488d;
  font-weight: bold;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .08rem;
  border: .1rem solid #bfbde4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom a.patient-area:hover {
  background: #16488d;
  color: white;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom .c5-call-head {
  margin-top: 1.4rem;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom .c5-call-head .btn {
  background: #fff;
  color: #16488d;
  font-weight: bold;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .08rem;
  border: .1rem solid #bfbde4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
header.c5-header.c5-header-layout-2.c5-header-alt .header-bottom .c5-call-head .btn:hover {
  background: #16488d;
  color: white;
}
.c5-main-menu-bar.c5-header-layout-2 {
  background: #2963b4 !important;
}
.c5-main-menu-bar .top-menu-nav ul.menu-sc-nav li:first-child > a {
  padding-left: 2rem !important;
}
.c5-main-menu-bar .top-menu-nav ul.menu-sc-nav li:first-child .hover {
  padding-left: 2rem !important;
}
.c5-main-menu-bar .top-menu-nav ul.menu-sc-nav > li.menu-item:hover {
  background: #16488d;
}
#hero-slider .hero-slider-wrapper {
  position: relative;
}
#hero-slider .hero-slider-wrapper .hoc-slider {
  position: relative;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
  padding: 4em;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div {
  position: relative;
  background: #071b37;
  color: white;
  max-width: 320px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div .navigation-title {
  background: #104185;
  color: white;
  padding: 4px 10px;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li {
  background-color: transparent;
  -webkit-transition: background-color 0.5ms ease-out;
  -moz-transition: background-color 0.5ms ease-out;
  -ms-transition: background-color 0.5ms ease-out;
  -o-transition: background-color 0.5ms ease-out;
  transition: background-color 0.5ms ease-out;
  position: relative;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li:before {
  display: block;
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  -webkit-transition: width 300ms ease-out;
  -moz-transition: width 300ms ease-out;
  -ms-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  z-index: 9;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li:hover:before {
  width: 100%;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li > a {
  width: 100%;
  margin: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 5rem;
  text-align: center;
  position: relative;
  z-index: 11;
  color: white;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li > a > span {
  margin: auto;
  font-weight: bold;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li:hover > a {
  color: black;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.molecular-risk:before {
  background-color: #01a54a;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.infusion:before {
  background-color: #007ee8;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.lymphoma:before {
  background-color: #b6d434;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.colon-cancer:before {
  background-color: #30337c;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.lung-cancer:before {
  background-color: #fcfcfc;
}
#hero-slider .hero-slider-wrapper .hoc-slider-nav > div ul > li.breast-cancer:before {
  background-color: #faacd1;
}
